{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} :: {{ block.super }} {% endblock %}


{% block content %}
<article class="blog-post px-3 py-5 p-md-5">
  <div class="container">
    <header class="blog-post-header">
      <h2 class="title mb-2">{{ post.title }}</h2>
      <div class="meta mb-3"><span class="date">{{ post.created_at }}</span><span class="comment"><a href="#">4 comments</a></span></div>
    </header>

    <div class="blog-post-body">
      <figure class="blog-banner">
        {% if post.photo %}
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.photo.url }}" alt="image">
        {% else %}
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{% static 'assets/images/blog/blog-post-thumb-1.jpg' %}" alt="image">
        {% endif %}
      </figure>
      <p>{{ post.content|safe }}</p>

  </div>


  </div><!--//container-->
</article>
{% endblock %}